<div class="container mt-5">
  <h2 class="mb-4 text-white">Gestione ordini</h2>

  <div *ngIf="orders.length > 0; else noOrders">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ordine ID</th>
          <th>User ID</th>
          <th>Data</th>
          <th>Totale</th>
          <th>Stato</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <th>{{ order.userId }}</th>
          <td>{{ order.orderDate | date : "short" }}</td>
          <td>{{ order.totalAmount | currency : "EUR" }}</td>
          <td>
            <span
              [ngClass]="{
                'bg-warning': order.status === 'In elaborazione',
                'bg-info': order.status === 'In consegna',
                'bg-success': order.status === 'Completato'
              }"
              class="badge"
            >
              {{ order.status }}
            </span>
          </td>
          <td>
            <button
              class="btn btn-sm btn-warning me-2"
              (click)="updateOrderStatus(order.id, 'In elaborazione')"
            >
              In elaborazione
            </button>
            <button
              class="btn btn-sm btn-primary me-2"
              (click)="updateOrderStatus(order.id, 'In consegna')"
            >
              In consegna
            </button>
            <button
              class="btn btn-sm btn-success me-2"
              (click)="updateOrderStatus(order.id, 'Completato')"
            >
              Completato
            </button>
            <button class="btn btn-sm btn-info" (click)="openModal(order)">
              Dettagli
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noOrders>
    <p class="text-muted">Non ci sono ordini disponibili.</p>
  </ng-template>
  <div *ngIf="selectedOrder" class="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dettagli Ordine #{{ selectedOrder?.id }}</h5>
        <button class="close-button" (click)="closeModal()">×</button>
      </div>
      <div class="modal-body">
        <p><strong>ID Utente</strong> {{ selectedOrder?.userId }}</p>
        <p>
          <strong>Data Ordine:</strong> {{ selectedOrder?.orderDate | date }}
        </p>
        <p><strong>Stato:</strong> {{ selectedOrder?.status }}</p>
        <p>
          <strong>Totale:</strong> {{ selectedOrder?.totalAmount | currency }}
        </p>

        <h5>Articoli</h5>
        <ul>
          <li *ngFor="let item of selectedOrder?.orderItems" class="order-item">
            <img
              [src]="item.card.imageUrl"
              alt="{{ item.card.name }}"
              width="50"
              height="50"
              class="item-image"
            />
            <div class="item-details">
              <strong>{{ item.card.name }}</strong>
              {{ item.card.gameCategory }} - {{ item.quantity }} x
              {{ item.price | currency }}
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
      </div>
    </div>
  </div>
</div>
