@font-face {
  font-family: "YuGiOhMatrix";
  src: url("assets/fonts/Yu-Gi-Oh!\ Matrix\ Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "YuGiOhMatrix", sans-serif !important;
}
