<nav class="navbar navbar-expand-lg brown pb-2">
  <div class="container-fluid">
    <img src="assets/images/CartoMania.png" alt="logo" class="logo" />
    <button
      (click)="show = !show"
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: show }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/home/cart"
            routerLinkActive="active"
          >
            <i class="bi bi-cart"></i> Carrello
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/register"
            routerLinkActive="active"
          >
            <i class="bi bi-person-plus"></i> Registrati
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/login"
            routerLinkActive="active"
          >
            <i class="bi bi-box-arrow-in-right"></i> Accedi
          </a>
        </li>
        <li *ngIf="isLoggedIn && role === 'Admin'" class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/admin"
            routerLinkActive="active"
          >
            <i class="bi bi-gear"></i> Area Admin
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-flex align-items-center mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn" class="nav-item me-3">
          <span class="navbar-text text-white">
            Benvenuto, {{ userName }}
          </span>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <button
            (click)="logout()"
            class="nav-link btn btn-link text-white"
            routerLinkActive="active"
          >
            <i class="bi bi-box-arrow-right"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
