<div class="container mt-5">
  <h2 class="text-center mb-4 text-white">Catalogo di Carte</h2>

  <h3 class="text-white my-4">Pokémon</h3>
  <div class="row">
    <ng-container *ngFor="let card of cards">
      <div class="col-md-3" *ngIf="card.gameCategory === 'Pokemon'">
        <div class="card mb-4 card-hover">
          <img
            [src]="card.imageUrl"
            class="card-img-top"
            alt="{{ card.name }}"
          />
          <div class="card-body bg-dark">
            <h5 class="card-title text-white">{{ card.name }}</h5>
            <p class="card-text text-white">
              <strong>Categoria:</strong> {{ card.gameCategory }}
            </p>
            <p class="card-text text-white">
              <strong>Condizione:</strong> {{ card.condition }}
            </p>
            <p class="card-text text-white">
              <strong>Prezzo:</strong> {{ card.price | currency : "EUR" }}
            </p>
            <div class="btn-container">
              <button class="btn btn-info" (click)="addToCart(card.id)">
                Aggiungi al carrello
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <h3 class="text-white my-4">Yu-Gi-Oh!</h3>
  <div class="row">
    <ng-container *ngFor="let card of cards">
      <div class="col-md-3" *ngIf="card.gameCategory === 'Yu-Gi-Oh!'">
        <div class="card mb-4 card-hover">
          <img
            [src]="card.imageUrl"
            class="card-img-top"
            alt="{{ card.name }}"
          />
          <div class="card-body bg-dark">
            <h5 class="card-title text-white">{{ card.name }}</h5>
            <p class="card-text text-white">
              <strong>Categoria:</strong> {{ card.gameCategory }}
            </p>
            <p class="card-text text-white">
              <strong>Condizione:</strong> {{ card.condition }}
            </p>
            <p class="card-text text-white">
              <strong>Prezzo:</strong> {{ card.price | currency : "EUR" }}
            </p>
            <div class="btn-container">
              <button class="btn btn-info" (click)="addToCart(card.id)">
                Aggiungi al carrello
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <h3 class="text-white my-4">Magic</h3>
  <div class="row">
    <ng-container *ngFor="let card of cards">
      <div class="col-md-3" *ngIf="card.gameCategory === 'Magic'">
        <div class="card mb-4 card-hover">
          <img
            [src]="card.imageUrl"
            class="card-img-top"
            alt="{{ card.name }}"
          />
          <div class="card-body bg-dark">
            <h5 class="card-title text-white">{{ card.name }}</h5>
            <p class="card-text text-white">
              <strong>Categoria:</strong> {{ card.gameCategory }}
            </p>
            <p class="card-text text-white">
              <strong>Condizione:</strong> {{ card.condition }}
            </p>
            <p class="card-text text-white">
              <strong>Prezzo:</strong> {{ card.price | currency : "EUR" }}
            </p>
            <div class="btn-container">
              <button class="btn btn-info" (click)="addToCart(card.id)">
                Aggiungi al carrello
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
