<div *ngIf="card" class="container d-flex justify-content-center my-5">
  <div class="card-details">
    <h2 class="text-center text-white mb-4">
      Dettagli della carta: {{ card.name }}
    </h2>

    <div class="card mt-4 mx-auto" style="width: 18rem">
      <img
        *ngIf="card.imageUrl"
        [src]="card.imageUrl"
        class="card-img-top"
        alt="{{ card.name }}"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ card.name }}</h5>
        <p class="card-text">
          <strong>Condizioni:</strong> {{ card.condition }}
        </p>
        <p class="card-text">
          <strong>Categoria del gioco:</strong> {{ card.gameCategory }}
        </p>
        <p class="card-text">
          <strong>Prezzo:</strong> {{ card.price | currency : "EUR" }}
        </p>
        <div class="text-center">
          <a routerLink="/admin/list" class="btn btn-primary mt-3">
            Torna alla lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="!card"
  class="container d-flex justify-content-center align-items-center mt-5"
  style="height: 100vh"
>
  <div class="text-center">
    <h3>Carta non trovata!</h3>
    <a routerLink="/admin/list" class="btn btn-primary mt-3"
      >Torna alla lista</a
    >
  </div>
</div>
